/* Base style file */

/* Parameters & defines */

@topBarHeight: 50px;
@softBlue: #6FACFF;
@softRed: #FC4848;

/* Styles */

html > body {

    /* fonts */

    font-family: 'Rum Raisin', sans-serif;

    > header {
        > #headerImage  img {
            max-width: 100%;
        }
        top: 0px;
        width: 100%;
        z-index:  10;
    }

    >  #content {
        margin: 10px 25px 25px 10px;
    }

}

div > img {
    display: block;
    margin: auto;
}

.button-tower {
    > * {
        display: block;
        margin: auto;
    }
}

.big-button {

    margin: 20px auto;

    font-size: 32pt;
    border: black solid 2px;
    background: @softBlue;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    width: 500px;

    padding: 5px;

    &:hover {
        background: @softRed;
        text-decoration: none;
    }

    > img.icon, .glyphicon {
    max-height: 32px;
    max-width: 32px;
    margin: 5px 5px;
    }
}

/* dropdown lists style */

/* Animations */
