/* Base style file */
/* Parameters & defines */
/* Styles */
html > body {
  /* fonts */
  font-family: 'Rum Raisin', sans-serif;
}
html > body > header {
  top: 0px;
  width: 100%;
  z-index: 10;
}
html > body > header > #headerImage img {
  max-width: 100%;
}
html > body > #content {
  margin: 10px 25px 25px 10px;
}
div > img {
  display: block;
  margin: auto;
}
.button-tower > * {
  display: block;
  margin: auto;
}
.big-button {
  margin: 20px auto;
  font-size: 32pt;
  border: black solid 2px;
  background: #6facff;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  width: 500px;
  padding: 5px;
}
.big-button:hover {
  background: #fc4848;
  text-decoration: none;
}
.big-button > img.icon,
.big-button .glyphicon {
  max-height: 32px;
  max-width: 32px;
  margin: 5px 5px;
}
/* dropdown lists style */
/* Animations */
