/* Base style file */
/* Parameters & defines */
/* Styles */
html > body {
  /* fonts */
  font-family: 'Rum Raisin', sans-serif;
}
html > body > header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 10;
  background: white;
}
html > body > #content {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
}
html > body > footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: black;
}
/* dropdown lists style */
/* Animations */
